h1{
    font-family: sans-serif;
    font-size: 90px;
    text-align: center;
    background-color: rgb(123, 255, 211);
    
}
body{
    background-image: url('https://image.freepik.com/free-vector/happy-sun-weekend-greeting_23-2147965748.jpg');
}
